@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--forth-color);
}
:root {
    --first-color: #ffbf00;
    --second-color: #bfcf33;
    --third-color: #80df66;
    --forth-color: #c0d7ec;
    --fifth-color: #00ffcc;
    --sixth-color: #0891b2;
  }
.name {
    font-family: "Cormorant Garamond", serif;
    font-weight: 900;
    font-style: bold;
}
.hello {
    font-family: "Cormorant Garamond", serif;
    font-weight: 900;
    font-style: normal;
}
.header {
    height: 100vh;
    width: 25%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
.nav-link::after {
    content: '';
    width: 0;
    height: 1px;
    background: var(--sixth-color);
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}
.nav-link:hover::after {
    width: 100%;
}

.home {
    background-image: url("Images/Photo.png"); /* Specify the background image */
    background-size: contain; /* Ensures the image covers the entire element */
    background-position: calc(70% + 60px) center;/* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: local; /* Optional: fixes the background during scrolling */
    height: 100vh; /* Optional: make the element full viewport height */ 
    border-bottom: 1px solid #202020;   
}
.btn-1 {
    border: 1px solid #202020;
}
.sub-title {
    font-family: "Cormorant Garamond", serif;
}