@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--forth-color);
}
:root {
    --first-color: #ffbf00;
    --second-color: #bfcf33;
    --third-color: #80df66;
    --forth-color: #bdc8d1;
    --fifth-color: #00ffcc;
    --sixth-color: #0891b2;
  }
.name {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: bold;
}
.header {
    height: 100vh;
    width: 25%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
.nav-link::after {
    content: '';
    width: 0;
    height: 1px;
    background: var(--sixth-color);
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}
.nav-link:hover::after {
    width: 100%;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}


.home {
    background-image: url("Images/Photo.png"); /* Specify the background image */
    background-size: contain; /* Ensures the image covers the entire element */
    background-position: calc(80% + 60px) center;/* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: local; /* Optional: fixes the background during scrolling */
    height: 100vh; /* Optional: make the element full viewport height */ 
    border-bottom: 1px solid #202020;   
}
.btn-1 {
    border: 1px solid #202020;
}
.sub-title {
    font-family: "Cormorant Garamond", serif;
}
.card {
    background-color: #e1f1ff;
    padding: 40px 20px;
    border-radius: 6px;
}
.s-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layer {
    width: 85px;
    height: 85px;
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    position: absolute;
    top: -19%;
  }
.stats {
    background-image: url("Images/Bg-Comp.jpg"); /* Specify the background image */
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center center;/* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Optional: fixes the background during scrolling */
    height: 40vh;
}
.statistics {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .num {
        font-size: 34px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 300;
        padding: 6px 0;
    }
    h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 2px;
    }
}
.active {
    color: var(--sixth-color); /* Chanrgb(58, 117, 83)reen when active */
    font-size: 18px;
  }
  .small-square {
    width: 33px;
    height: 33px;
    display: inline-block;     /* Ensures it maintains square shape */
    transform: rotate(45deg);
    left: -.5%;
    top: 4%;
  }
  .vertical-line {
    width: 20px;               /* Width of the line */
    height: inherit;             /* Height of the line */
    background-color: #969595be; /* Color of the line */
    margin: 0 3px;
  }