  /* Skill Container */
  .skill {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
      .progress-bar {
        flex-grow: 1;
        height: 6px;
        background-color: #f0f0f0;
        margin: 0;
        border-radius: 50px;
        overflow: hidden;
        .progress {
            height: 100%;
            background-color: #3498db; /* Default color for progress */
            width: 0; /* Initially zero width, will be animated with JS */
            transition: width 1.5s ease-in-out;
            border-radius: 50px;
          }
      }
  }
  .skill:nth-child(1) span { left: 70%; } /* jQuery - left span*/
  .skill:nth-child(2) span { left: 55%; } /* jQuery - left span */
  .skill:nth-child(3) span { left: 80%; } /* HTML5 - left span */
  .skill:nth-child(4) span { left: 85%; } /* CSS3 - left span */
  .skill:nth-child(5) span { left: 65%; } /* WordPress - left span*/
  .skill:nth-child(6) span { left: 75%; } /* SEO - Dark left span */
  /* Specific percentage Colors */
  .skill:nth-child(2) .percentage { color: #e74c3c; } /* jQuery - Red */
  .skill:nth-child(3) .percentage { color: #f39c12; } /* HTML5 - Yellow */
  .skill:nth-child(4) .percentage { color: #9b59b6; } /* CSS3 - Purple */
  .skill:nth-child(5) .percentage { color: #1abc9c; } /* WordPress - Green */
  .skill:nth-child(6) .percentage { color: #2c3e50; } /* SEO - Dark Blue */
  /* Specific Progress Colors */
  .skill:nth-child(2) .progress { background-color: #e74c3c; } /* jQuery - Red */
  .skill:nth-child(3) .progress { background-color: #f39c12; } /* HTML5 - Yellow */
  .skill:nth-child(4) .progress { background-color: #9b59b6; } /* CSS3 - Purple */
  .skill:nth-child(5) .progress { background-color: #1abc9c; } /* WordPress - Green */
  .skill:nth-child(6) .progress { background-color: #2c3e50; } /* SEO - Dark Blue */
  