:root {
    --first-color: #ffbf00;
    --second-color: #bfcf33;
    --third-color: #80df66;
    --forth-color: #bdc8d1;
    --fifth-color: #00ffcc;
    --sixth-color: #0891b2;
  }

.work-layer {
    width: 100%;
    backdrop-filter: blur(2px);
    background-color: #2897b3a2;
    left: 0;
    bottom: 0;
    overflow: hidden;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
}
.work-layer:hover {
    transition: all .7s ease-in-out;
    opacity: 1;
    overflow: hidden;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    margin: 3px;
    text-align: left;
    outline: none;
    border: 1px solid #33333359;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: var(--sixth-color);
    color: aliceblue;
  }
  
  .accordion:after {
    content: '\002B';
    color: #444;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
    color: aliceblue;
  }
  
  .panel {
    padding: 0 18px;
    margin: 3px;
    max-height: 0;
    outline: none;
    border: 1px solid #3333335b;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
